*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #4758f0;
    z-index: 997;
}

body{
    text-decoration: none;
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    overflow-y: hidden;
    overflow-x: hidden;
}

.menu{
    margin-left: .1rem;
    margin-top: -2.7rem;
}

.menuTrigger{
    position: absolute;
    z-index: 1000;
    width: 50px;
    height: 45px;
    opacity: 0;
    cursor: pointer;
}

.menu .linhas{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu .linhas span{
    display: block;
    width: 30px;
    height: 3px;
    margin: 8px;
    background-color:#f5f5f5;
    border-radius: 5px;
    transition: all ease 0.1s;
}

.menuTrigger:checked ~.linhas span{
    background-color: #f5f5f5;
}

/*LINHAS DO MENU HAMBURGER*/
.menuTrigger:checked ~ .linhas span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.1);
}

.menuTrigger:checked ~ .linhas span:nth-child(2){
    opacity: 0;
}

.menuTrigger:checked ~ .linhas span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.1);
}

.menu ul{
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding-top: 70px;
    padding-left: -50px;
    background-color: #4758F0;
    margin-left: -260px;
    box-shadow: 3px 0px 7px 1px rgba(0, 0, 0, 0.3);
    transition: all ease .2s;
}

.menuTrigger:checked ~ ul{
    margin-left: 0 ;
}

.menu ul li{
    padding: 10px 30px;
}

.menu ul li a{
    text-decoration: none;
    color: #f5f5f5;
    transition: all ease 0.2s;
}

.menu ul li a:hover{
    opacity: 0.7;
}

.logo{
    text-decoration: none;
    color: #f5f5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: .6rem;
}

.logo:hover{
    opacity: 0.7;
}

.report{
    padding: 25px 25px 25px 25px;
    background-color: rgba(236, 53, 53);
    border: none;
    border-radius: 80px;
}

.report:hover{
    background-color: rgb(173, 41, 41);
}

.reportCaixa{
    position: absolute;
    z-index: 1000;
    right: 20px;
    bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reportCaixa h4{
    margin-top: 5px;
    color: rgba(236, 53, 53);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
}

#flag{
    font-size: 25px;
    color: #f5f5f5;
}