*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #4758f0;
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.1);

}

.logo{
    text-decoration: none;
    color: #f5f5f5;
}

#voltar{
    color: #f5f5f5;
    font-size: 1.5rem;
}

.configConta{
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 5px;
}

.configPrivacidade{
    padding: 1rem;
    margin-bottom: 5px;
}

.configNotificacao{
    padding: 1rem;
}

h4{
    margin-left: 1rem;
}

h3{
    color: #4758f0;
}

hr{
    background-color: #4758f0;
    height: 1px;
    margin: 5px;
}

.dentro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#setinha{
    margin-top: 1rem;
    margin-right: 1rem;
    color: #4758f0;
}
.ligaDesliga{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 10px;
}

.botao{
    background-color: #DCDCDC;
    width: 30px;
    height: 20px;
    border: none;
    border-radius: 24px;
}

.circulo{
    background-color: #C6C6C6;
    width: 25px;
    height: 25px;
    border-radius: 16px;
    margin-left: -40px;
    transition: all 0.2s;
}

.check{
    z-index: 1000;
    margin-right: -32px;
    margin-top: -3px;
    width: 35px;
    height: 40px;
    cursor: pointer; 
    opacity: 0;  
}

.check:checked ~ .circulo{
    transform: translateX(25px);
    background-color: #2E3996;
}

.check:checked ~ .botao{
    background-color: #4758f0;
}

.menu{
    margin-left: .1rem;
    margin-top: -2.7rem;
}

.menuTrigger{
    position: absolute;
    z-index: 1000;
    width: 50px;
    height: 45px;
    opacity: 0;
    cursor: pointer;
}

.menu .linhas{
    position: absolute;
    z-index: 999;
}

.menu .linhas span{
    display: block;
    width: 30px;
    height: 3px;
    margin: 8px;
    background-color:#f5f5f5;
    border-radius: 5px;
    transition: all ease 0.1s;
}

.menuTrigger:checked ~.linhas span{
    background-color: #f5f5f5;
}

/*LINHAS DO MENU HAMBURGER*/
.menuTrigger:checked ~ .linhas span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.1);
}

.menuTrigger:checked ~ .linhas span:nth-child(2){
    opacity: 0;
}

.menuTrigger:checked ~ .linhas span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.1);
}

.menu ul{
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding-top: 70px;
    padding-left: -50px;
    background-color: #4758F0;
    margin-left: -260px;

    transition: all ease .2s;
}

.menuTrigger:checked ~ ul{
    margin-left: 0 ;
}

.menu ul li{
    padding: 10px 30px;
}

.menu ul li a{
    text-decoration: none;
    color: #f5f5f5;
    transition: all ease 0.2s;
}

.menu ul li a:hover{
    opacity: 0.7;
}