*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: hidden;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #4758f0;
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.1);

}

#voltar{
    color: #f5f5f5;
    font-size: 1.5rem;
}

.logo{
    text-decoration: none;
    color: #f5f5f5;
}

main{
   
    min-height: 20vh;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}



form input[type="submit"]{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: #f5f5f5;
    color: #4758f0;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 16px;
    border: none;
    padding: .4rem;
    cursor: pointer;
}