*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

main{
    background-color: #4758f0;
    min-height: 20vh;
    padding: 2rem;
    border-radius: 24px;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: #f5f5f5;
}

.texto{
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding-top: .9rem;
}

.campoInput{
    position: relative;   
}


.campoInput input{
    outline: none;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #f5f5f5;
}

form{
    display: flex;
    flex-direction: column;
}

.campoLink{
    padding-left: 10px;
}

.campoLink ul{
    display: flex;
}

#linkCadastro{
    margin-right: 9.2rem;
}

.campoLink ul li{
    margin-right: 1rem;
    margin-top: .5rem;
}

.campoLink ul li a{
    color: #dadada;
    font-size: 14px;
}
.buttonLogin{
    
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: #f5f5f5;
    color: #4758f0;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 16px;
    border: none;
    padding: .4rem;
    cursor: pointer;
    width: 100%;
}
form input[type="submit"]{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: #f5f5f5;
    color: #4758f0;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 16px;
    border: none;
    padding: .4rem;
    cursor: pointer;
}

.cadastre-se{
    display: flex;
    margin-top: 1rem;
    justify-content: center
}

.cadastre-se a{
    color: #f5f5f5;
    background: #4758f0;
    padding: .5rem;
}

.cadastre-se button{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    border: #f5f5f5;
}

.campoInput{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campoInput input{
    background: none;
    border: none;
    padding-bottom: 3px;
}

.campoInput input::-webkit-input-placeholder{
    color: #f5f5f5;
}

.campoInput .underline::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background: #f5f5f5;
}

.campoInput .underline::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background:#c2c2c2;
    transform: scaleX(0);
}

.campoInput input:focus ~ .underline::after{
    transform: scaleX(1);
}

header h1{
    padding-bottom: 5rem;
    padding-top: 4rem;
    color:#4758f0;
}

#h1Cadastro{
    padding-bottom: 2.7rem;
}